@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

.section2 {
    width: 100vw;
    min-height: 100vh;
    background: url('back-f1.jpg');
    position: relative;
}
.section2 h1{
    text-align: center;
    font-size: 3rem;
    color: #fff;
    padding-top: 20px;
}

.buttons{
    text-align: center;
    margin-top: 100px;
}

.buttons button{
    padding: 20px 30px;
    margin-right: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.4rem;
    background-color: #1A1822;
    cursor: pointer;
    transition: all 0.7s;
}

/* ================ CAMPEOES ================== */

.campeao{
    width: 70vw;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    height: 500px;
    background-color: whitesmoke;
    border-radius: 15px;
    opacity: 1;
    animation: camp 2s ease-in-out alternate;
}

@keyframes camp {
    to{
        margin-left: 290px;
    }from{
        margin-left: -180px;
        opacity: 0;
    }
}

.campeao h2{
    letter-spacing: 3px;
    font-size: 3rem;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.campeao div{
    display: flex;
    margin-top: 10px;
}

.campeao div img{
    width: 40%;
    height: 400px;
}


.campeao p{
    text-align: left;
    width: 500px;
    margin: auto;
    font-size: 1.5rem;
    line-height: 1.9rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.buttonActive{
    background-color: #311e75 !important;
}

/* =================== RESPONSIVIDADE ======================= */

@media (max-width:1050px){

    .campeao h2{
        font-size: 2rem;
        padding-top: 40px;
    }

}