@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");

:root {
  --fonth1: "Cinzel", serif;
  --fontp: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* ========= TOTAL SLIDES ==========*/

.containerTotal {
  height: 100vh;
  position: relative;
}

.slides {
  scroll-behavior: smooth;
  display: flex;
  width: 100vw;
  overflow-x: scroll;
  overflow-x: hidden;
}

.slide1 {
  min-width: 100vw;
  color: white;
}

/* ===================== SLIDE FIRST=====================*/

.slide-First {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
  background: linear-gradient(to bottom, #1b1630, #19181e);
}

.slide-First div:first-child {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slide-First #circle {
  position: relative;
  left: -1120px;
  top: -110px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: solid 2px rgba(220, 220, 220, 0.61);
}

.slide-First #circle::after {
  content: "";
  position: absolute;
  left: 1070px;
  top: 400px;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  border: solid 2px rgba(220, 220, 220, 0.61);
  border-left-color: #911422;
  filter: brightness(300%);
  z-index: 99;
  animation: rodar 5s linear infinite;
}

@keyframes rodar {
  from {
    transform: rotateZ(-360deg);
  }
}

.slide-First h1 {
  padding-top: 30px;
  letter-spacing: 6px;
  font-family: var(--fonth1);
  font-weight: 700;
}

.slide-First p {
  width: 400px;
  padding: 30px;
  font-family: var(--fontp);
  font-style: italic;
  font-size: 1.2rem;
  line-height: 30px;
  width: 625px;
}

.slide-First div:last-child {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.slide-First img {
  width: 700px;
}

.slide-First .car1 {
  animation: car1Passar 15s;
}

#carSom {
  position: absolute;
  bottom: -205px;
  opacity: 0.2;
  transform: rotateX(180deg);
  animation: car1Passar 15s;
}

@keyframes car1Passar {
  0% {
    margin-right: -100px;
  }
  33% {
    margin-right: 1920px;
  }
  99% {
    margin-right: -3800px;
  }
}

/* ===================== SLIDE SECOND=====================*/
.slide-Second {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(to bottom, #1b1630, #19181e);
}

.slide-Second div:first-child {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slide-Second .circle2 {
  position: relative;
  left: -1130px;
  top: -110px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: solid 2px rgba(220, 220, 220, 0.61);
}

.slide-Second .circle2::after {
  content: "";
  position: absolute;
  left: 940px;
  top: 400px;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  border: solid 2px rgba(220, 220, 220, 0.61);
  border-left-color: #095851;
  filter: brightness(300%);
  z-index: 99;
  animation: rodar 5s linear infinite;
}

@keyframes rodar {
  from {
    transform: rotateZ(-360deg);
  }
}

.slide-Second h1 {
  text-align: center;
  font-family: var(--fonth1);
  padding-top: 30px;
}

.slide-Second p {
  font-family: var(--fontp);
  width: 400px;
  font-style: italic;
  padding: 30px;
  font-size: 1.2rem;
  line-height: 30px;
  width: 600px;
}

.slide-Second div:last-child {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.slide-Second img {
  width: 700px;
}

.slide-Second .car2 {
  position: relative;
  animation: car2Passar 27s ease-out;
  margin-right: 50px;
  animation-delay: 10s;
  animation-fill-mode: backwards;
  filter: hue-rotate(180deg);
}

.slide-Second #carSom2 {
  position: absolute;
  transform: rotateX(180deg);
  filter: hue-rotate(180deg);
  bottom: -205px;
  opacity: 0.2;
  animation: car2Passar 27s ease-out;
  animation-delay: 10s;
  animation-fill-mode: backwards;
  margin-right: 50px;
}

@keyframes car2Passar {
  0% {
    margin-right: 2500px;
    filter: hue-rotate(180deg);
  }
  66% {
    filter: hue-rotate(180deg);
    margin-right: -4300px;
  }
  99% {
    filter: hue-rotate(180deg);
    margin-right: -5200px;
  }
}

/* ===================== SLIDE THREE=====================*/

.slide-Three {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(to bottom, #1b1630, #19181e);
}

.slide-Three div:first-child {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slide-Three .circle3 {
  position: relative;
  left: -1175px;
  top: -510px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: solid 2px rgba(220, 220, 220, 0.61);
}

.slide-Three .circle3::after {
  content: "";
  position: absolute;
  left: 830px;
  top: 800px;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  border: solid 2px rgba(220, 220, 220, 0.61);
  border-left-color: #48299a;
  filter: brightness(300%);
  z-index: 99;
  animation: rodar3 5s linear infinite;
}

@keyframes rodar3 {
  from {
    transform: rotateZ(-360deg);
  }
}

.slide-Three h1 {
  font-family: var(--fonth1);
  padding-top: 30px;
}

.slide-Three p {
  font-family: var(--fontp);
  width: 400px;
  font-style: italic;
  padding: 30px;
  font-size: 1.2rem;
  line-height: 30px;
  width: 600px;
}

.slide-Three div:last-child {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.slide-Three img {
  width: 700px;
}

.slide-Three .car3 {
  animation: car3Passar 3s;
  animation-delay: 20s;
  margin-right: 40px;
  filter: hue-rotate(990deg);
}

#carSom3 {
  position: absolute;
  bottom: -205px;
  opacity: 0.2;
  transform: rotateX(180deg);
  animation: car3Passar 3s;
  animation-delay: 20s;
  margin-right: 40px;
  filter: hue-rotate(990deg);
}

@keyframes car3Passar {
  0% {
    margin-right: 2000px;
    filter: hue-rotate(990deg);
  }
  99% {
    margin-right: 40px;
    filter: hue-rotate(990deg);
  }
}
/*============================================*/

/* =================== RESPONSIVIDADE SLIDE HEADER ======================= */

/* ================== CANCELANDO ANIMAÇÕES ================== */

@media (max-width: 1050px) {
  .slide-First .car1 {
    animation: none;
  }

  .slide-First #carSom {
    animation: none;
  }

  .slide-Second .car2 {
    animation: none;
  }

  .slide-Second #carSom2 {
    animation: none;
  }

  .slide-Three .car3 {
    animation: none;
  }

  .slide-Three #carSom3 {
    animation: none;
  }

  /* ======================== SLIDE FIRST ================================= */

  .slide-First {
    min-height: 100vh;
  }

  .slide-First h1 {
    font-size: 1.3rem;
    width: 270px;
    margin-left: 100px;
  }

  .slide-First #h1-imagine {
    font-size: 1.3rem;
    width: 330px;
  }

  .slide-First p {
    font-size: 1rem;
  }

  .slide-First #circle {
    display: none;
  }

  .slide-First #circle::after {
    width: 500px;
    height: 500px;
    top: 600px;
    left: 1080px;
  }

  .slide-First img {
    width: 400px;
    margin-top: 80px;
  }

  #carSom {
    top: 200px;
  }

  /* ======================== SLIDE SECOND ================================= */

  .slide-Second {
    min-height: 100vh;
  }

  .slide-Second img {
    width: 400px;
    margin-top: 80px;
    margin-left: 95px;
  }

  .slide-Second h1 {
    margin-left: 100px;
    font-size: 1.3rem;
  }

  .slide-Second .circle2 {
    width: 500px;
    height: 500px;
  }

  .slide-Second .circle2::after {
    width: 500px;
    height: 500px;
    top: 600px;
    left: 1100px;
  }

  .slide-Second #second-h1 {
    margin-left: 30px;
    font-size: 1.2rem;
    width: 200px;
    margin-bottom: -20px;
  }

  #carSom2 {
    top: 200px;
  }

  /* ======================== SLIDE THREE ================================= */

  .slide-Three {
    min-height: 100vh;
  }

  .slide-Three h1 {
    margin-left: 100px;
    font-size: 1.3rem;
  }

  .slide-Three .circle3 {
    width: 500px;
    height: 500px;
  }

  .slide-Three #three-h1 {
    margin-left: 40px;
    font-size: 1.3rem;
    width: 200px;
    margin-top: 10px;
  }

  .slide-Three .circle3::after {
    width: 500px;
    height: 500px;
    top: 1000px;
    left: 1040px;
  }

  .slide-Three img {
    width: 400px;
    margin-top: 70px;
    margin-left: 70px;
  }

  #carSom3 {
    margin-left: -70px;
    top: 200px;
  }
}

@media (max-width: 500px) {
  .slide-First {
    min-height: 100vh;
  }

  .slide-First #h1-imagine{
    margin-left: 120px;
  }

  .slide-First h1 {
    font-size: 1rem;
    margin-right: 60px;
  }

  .slide-First div:first-child{
    display: flex;
    flex-direction: column;
  }

  .slide-First div:first-child p {
    width: 300px;
    text-align: center;
    margin-left: 50px;
  }

  .slide-First #circle {
    display: none;
  }

  .slide-First img {
    margin-top: 0px;
  }

  #carSom {
    display: none;
  }

  /* ============ SLIDE SECOND ====================*/

  .slide-Second {
    min-height: 100vh;
  }

  .slide-Second h1 {
    font-size: 1rem;
  }

  .slide-Second div:first-child{
    display: flex;
    flex-direction: column;
  }

  .slide-Second div:first-child h1{
    margin-left: 10px;
  }

  .slide-Second div:first-child p {
    width: 300px;
    text-align: center;
    margin-left: 50px;
  }

  .slide-Second img{
    margin-top: 0px;
    margin-left: 50px;
  }

  .slide-Second .circle2{
    display: none;
  }

  #carSom2{
    display: none;
  }

  /* ============ SLIDE THREE ====================*/

  .slide-Three {
    min-height: 100vh;
  }

  .slide-Three h1 {
    font-size: 1rem;
  }

  .slide-Three div:first-child{
    display: flex;
    flex-direction: column;
 }

  .slide-Three div:first-child h1{
    margin-left: 45px;
  }
  
  .slide-Three .circle3{
    display: none;
  }
  .slide-Three div:first-child p {
    width: 300px;
    text-align: center;
    margin-left: 50px;
  }

  .slide-Three img{
    margin-top: 80px;
    margin-left: 50px;
  }

  #carSom3{
    display: none;
  }
}
